
h2{
    color:brown;
    font-family: 'arial';
    font-size: 30px;
    font-style: italic;
}
h1{
    color:chocolate;
    font-family: 'Times New Roman';
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
}
ul{
    color:rgb(0, 0, 0);
    font-family: 'times new roman';
    font-size: 28px;
    font-style: oblique;
}
ol{
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font-size: 28px;
    font-style: oblique;
}
p{
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font-size: 28px;
    font-style: oblique;
}
